@import '../../index';

.form-btn-group {
  display: flex;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.form-link {
  text-decoration: none;
  color: $secondary-color;
  transition: color 350ms ease-in-out;

  &:hover {
    color: darkorchid;
    text-decoration: none;
  }
}

.form-btn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 200px !important;
  height: 45px !important;
  border: none !important;
  border-radius: 30px !important;
  background-image: linear-gradient(to right, $secondary-color, rgb(40, 62, 81)) !important;
  text-transform: uppercase !important;
  transition: 0.5s !important;
  background-size: 150% auto !important;

  &:hover {
    background-position: right center !important;
  }
}

h2 {
  color: $secondary-color;
}

footer {
  color: $secondary-color;
}

@keyframes appear {
  from {
    transform: translateX(10%) translateY(-10%);
    opacity: 0;
  }
  to {
    zoom: 1;
    opacity: 0.85;
    transform: translateX(0) translateY(0);
  }
}
