@import '../../index';

.card-wrapper {
  min-width: 500px !important;
  width: fit-content;
  border: none;
  margin: auto;
  filter: url('#blur');
  opacity: 0.85;
  background-color: white;
  animation: appear 500ms ease-in-out;
  border-radius: 20px !important;
  z-index: 20;

  label {
    color: $secondary-color;
  }
}

.card-body-no-overflow {
  overflow-y: auto !important;
}
