@import 'src/webapp/components/commons/style';

.input-row {
  margin-left: 0 !important;
  margin-right: 30px !important;

  .label-col {
    max-width: 150px;

    .form-label {
      display: flex;
      align-items: center;
      margin: 0;
      width: 100%;
      height: 100%;
      padding-left: 30px;
    }
  }
}
