.navbar-title {
  color: rgb(75, 121, 161) !important;
  transition: color 350ms ease-in-out;
  display: flex;

  > a {
    display: flex;
    > .logo {
      height: 50px;
      content: url('../../static/images/Logo.png');
    }

    > svg {
      fill: black;
      width: 50px;
      height: 50px;
    }

    &:hover {
      > .logo {
        content: url('../../static/images/Logo_darkorchid.png');
      }

      > svg {
        fill: darkorchid;
      }
    }
  }
}

.toolbar {
  height: 50px;
  padding: 30px 0 !important;
}

.Links {
  display: flex;
  padding-left: 20px;
  > a {
    color: gray;
    padding-right: 20px;
    text-underline: none;
  }
  > a:hover {
    color: black;
    text-decoration: none;
  }
}
