@import 'src/webapp/index';
@import '../LoginContent/LoginContent';

.page-wrapper {
  width: 100%;
  height: 100%;
  background-image: url('../../static/images/main_background.jpeg');
  display: flex;
  align-items: center;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file + label {
  display: flex;
  align-items: center;
  color: $secondary-color;
  background-color: white;
  cursor: pointer;
  width: 200px;
  height: 45px;
  text-align: center;
  transition: color 300ms ease-in;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-file:focus + label,
.input-file + label:hover {
  @extend .form-link;
  font-weight: bold;
}

.form-check {
  margin-right: 1em;
  padding: 0 20px;
}
