@import 'src/webapp/components/commons/style.scss';

.form-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.animated-img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
