.log-list {
  max-height: 300px;
  max-width: inherit;
  overflow-y: auto;

  #{&}-item {
    display: flex;
    font-size: 13px;
    padding: 6px 0 6px 25px;
  }
}

.enlarged {
  width: 800px !important;
}
