@import 'src/webapp/index.scss';

th {
  text-align: center;
  > .form-checkbox {
    margin: 0;
    padding: 0;
    > input[type='checkbox'] {
      margin: 0;
    }
  }
}

.form-btn.selected {
  background: lawngreen !important;
  color: black;
}
