@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

input {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}

$primary-color: #633abe;
$secondary-color: #4b79a1;

.card-body {
  max-height: 600px;
  overflow-y: scroll;
}
.hoverable:hover {
  cursor: pointer;
  color: $primary-color;
}
