@font-face {
  font-family: PixelFont;
  src: url('../../static/fonts/Nineteen\ Ninety\ Seven.otf');
}

.footer-wrapper {
  padding: 20px 0;

  > .row {
    margin: 0;

    > .col {
      text-align: center;
    }

    > .col:hover {
      font-family: PixelFont;
      color: darkorchid;
      cursor: pointer;
    }

    > .col:hover::before {
      content: '@';
    }
  }

  > .row:last-of-type {
    margin-top: 10px;

    > .col:hover {
      color: unset;
      cursor: initial;
      font-family: unset;
    }

    > .col:hover::before {
      content: unset;
    }
  }
}
