@import 'src/webapp/index';

.page-wrapper {
  width: 100%;
  height: 100%;
  background-image: url('../../static/images/main_background.jpeg');
  display: flex;
  align-items: center;
}

.table {
  th {
    align-items: center;
    vertical-align: inherit !important;
    .form-btn {
      width: 100px !important;
      height: 35px !important;
      margin: auto !important;
    }
  }
}
.form-btn-group.search {
  justify-content: center;
}
